.theGreatBox {
  color: white;
  border: 5px solid green;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 91%;
  justify-content: space-evenly;
  padding: 0.75em 0.357em;
}

.topDetails {
  display: flex;
  flex-direction: row;
  border: 2px solid blue;
  border-radius: 4px;
  justify-content: space-between;
  padding: 1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.scrollDetails {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  height: 100%;
}

.drawer {
  display: flex;
  justify-content: space-between;
  border: 2px solid yellow;
  border-radius: 8px;
  padding: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button {
  display: flex;
  justify-content: flex-end;
}
